GEE_SERVICE_ACCOUNT=your-service-account@your-project.iam.gserviceaccount.com
GEE_KEY_FILE=/path/to/key.json
GEE_PROJECT=your-gcp-project-id
GEE_OPT_URL=https://earthengine-highvolume.googleapis.com
TILE_SIZE=256
